body {
	Font-Family: Arial;
	margin: 0;
	padding: 0;
	background-color: #ccebff;
}

h1{
	text-align: center;
	padding-top: 2vh;
	color: #e6f5ff;
}
h3{
	margin: 3vh 0vh -2vh 0vh;
}

select{
	margin: 0vh 0vh 4vh 0vh;
}

#form {
	margin-left: 20%;
	}
	
#header {
	width: 100%;
	height: 10vh;
	background-color: #008ae6;
	margin-top: -3vh;
	box-shadow: gray 0px 0px 5px;
}

.button {
	background-color: #003d66;
	border: 1px solid #003d66;
	padding: 1vh 2% 1vh 2%;
	min-width: 100px;
	color: white;
}

.button:hover {
	background-color: #80ccff;
}