* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	Font-Family: Arial;
	margin: 0;
	padding: 0;
	background-color: #ccebff;
}

h1{
	text-align: center;
	padding: 2vh 0 2vh 0;
	color: #e6f5ff;
	font-size: 2em;
}
h3{
	margin: 3vh 0vh -2vh 0vh;
	font-size: 1.3em;
	font-weight: normal;
}

select{
	margin: 0vh 0vh 4vh 0vh;
}

#form {
	margin-left: 20%;
	margin-right: 15%;
	}
	
#header {
	width: 100%;
	background-color: #008ae6;
	box-shadow: gray 0px 0px 5px;
}

.button {
	background-color: #003d66;
	border: 1px solid #003d66;
	padding: 1vh 2% 1vh 2%;
	min-width: 100px;
	color: white;
}

.button:hover {
	background-color: #80ccff;
}

@media all and (orientation:portrait) { 
#form {
	margin-left: 5%;
	}
h1{
	font-size: 4em;
}
h3{
	font-size: 3.4em;
}
 }
@media all and (orientation:landscape) { … }
